# .gitignore

../.CFUserTextEncoding
../.DS_Store
../.INNORIX/
../.Rhistory
../.anaconda/
../.bash_profile
../.bash_profileTAB
../.bashrc
../.boto
../.cache/
../.claude.json
../.claude.json.backup
../.claude/
../.conda/
../.condarc
../.config/
../.continuum/
../.delfino.conf
../.designer/
../.docker/
../.eclipse/
../.gitconfig
../.idlerc/
../.ipython/
../.lemminx/
../.lesshst
../.local/
../.matplotlib/
../.mysql_history
../.npm-global/
../.npm/
../.npmrc
../.nvm/
../.p2/
../.profile
../.python_history
../.sqlite_history
../.ssh/
../.swiftpm/
../.tcshrc
../.viminfo
../.vscode/
../.xonshrc
../.zprofile
../.zsh_history
../.zsh_sessions/
../.zshrc
../.zshrc.backup
../.zshrc.save
../.zshrc.swo
../.zshrc.swp
../Applications/
../BadWord_Detector/
../DeepLearning_Project/
../Desktop/
../Docker/
../Documents/
../Downloads/
../Figure_1.png
../Figure_2.png
../Figure_3.png
../Font/
../Isidor_von_Sevilla.jpeg
../Library/
../Miniconda3-latest-MacOSX-arm64.sh
../Movies/
../Music/
../OneDrive
../Pictures/
../Public/
../PySQL/
../Python_Basic/
../Transformer_Main/
../cat.jpeg
../cat.png
../eclipse-workspace/
../eclipse/
../get-pip.py
../git/
../miniconda3/
../mysql-connector-j-9.1.0/
../npm-global-packages.txt
../triton/